/* Styles for the text area */
.keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.data-type {
    -fx-fill: rgb(255, 94, 0);
}

.ddl {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.dml {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.literal {
    -fx-fill: green;
}

.operator {
    -fx-fill: red;
}

.default {
    -fx-fill: black;
}

/* Styles for the window */
/* .root {
    -fx-background-color: linear-gradient(to right, rgb(104, 63, 218), rgb(166, 51, 211));
} */

.root {
    -fx-background-color: linear-gradient(to right, rgb(241, 252, 255), rgb(225, 241, 252));
    -fx-text-fill: white;
}

.code-area {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
    
.transparent-hbox {
    -fx-background-color: transparent;
}

.vbox {
    -fx-background-color: transparent;
}

.menu-bar {
    -fx-background-color: transparent;
}